$Header-Color: #333333;
$Text-Color: #444444;
$Orange: #f43;
$Dark-Blue: #1d3557;
$Light-Gray: #c3c5c8;
$Circle-Gray: #555555;

$Danger-Blue: #000f89;
$Blue: #0047ab;
$Light-Blue: #0070bb;
$Lighter-Blue: #7cb9e8;

$Seperating-Border: 1px solid #e8eaed;
$Box-Border: solid 2.5px #999999;
