.DropdownWrapper {
  z-index: 3;
  width: 100%;
  display: flex;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 9.3rem;
    width: 69%;
    left: 10%;
    border-top: 2px solid #e8eaed;
    margin-bottom: 1rem;
  }

  select {
    padding: 0.5rem;
    border-radius: 7px;
    border: solid 2.5px #999999;
    background-color: inherit;
    width: 12rem;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover {
      border: solid 2.5px #666666;
    }
  }
}
