@import "../styling/base.scss";

.DropdownWrapper {
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 10rem;
    width: 69%;
    left: 10%;
    border-top: $Seperating-Border;
    margin-bottom: 1rem;
  }

  select {
    padding: 0.5rem;
    border-radius: 7px;
    border: $Box-Border;
    background-color: inherit;
    width: 12rem;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover {
      border: solid 2.5px #666666;
    }
  }
}
