.DropdownWrapper {
  z-index: 3;
  width: 100%;
  display: flex;
  border-bottom: 2px solid rgba(65, 65, 65, 0.2);

  select {
    padding: 0.5rem;
    border-radius: 7px;
    border: solid 3px rgba(245, 152, 133, 0.7);
    background-color: inherit;
    width: 12rem;
    cursor: pointer;
    margin-bottom: 1rem;
    &:hover {
      border: solid 3px rgb(249, 87, 56, 0.7);
    }
  }
}
