@import "../styling/base.scss";
@import "../styling/mixins.scss";

.CountyStats {
  .listBlockIncident {
    display: flex;
    flex-direction: row;
    .blockIncident {
      &:last-of-type {
        margin-left: 2rem;
      }
      .numberedlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .frequency {
          display: flex;
          width: 2rem;
          height: 2rem;
          justify-content: center;
          align-items: center;
          background-color: $Circle-Gray;
          color: white;
          border-radius: 100%;
          margin-right: 0.3rem;
        }
        h4 {
          margin-top: 0rem;
          color: $Text-Color;
          font-weight: 900;
        }
      }
    }
  }

  .listBlockCity {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    .blockCity {
      &:last-of-type {
        margin-left: 2rem;
      }

      .numberedlistFirst {
        padding: 0.3rem;
        margin-top: 0.5rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        background-color: $Blue;
        color: white;
        &:first-of-type {
          background-color: $Danger-Blue;
        }
      }
      .numberedlistSecond {
        padding: 0.3rem;
        margin-top: 0.5rem;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        background-color: $Lighter-Blue;
        color: white;
        &:first-of-type {
          background-color: $Light-Blue;
        }
      }
    }
  }
}

h3 {
  .more {
    color: $Orange;
    font-size: 0.9rem;
    cursor: pointer;
  }
}

.PerPeople {
  background-color: $Circle-Gray;
  color: white;
  width: max-content;
  padding: 0.3rem 0.6rem 0.3rem 0.5rem;
  margin-bottom: 1rem;
}

h2,
h3 {
  opacity: 1;
  transition: all 0.35s ease-in;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;

  &:first-child {
    margin-bottom: 0.3rem;
    margin-left: 0.2rem;
  }
}
p {
  opacity: 1;
  transition: all 0.13s ease-in;
}
