@import "../styling/mixins.scss";

.MapsideWrapper {
  background-color: rgb(241, 250, 238, 0.9);
  color: #4c2e05;

  border-left: solid #a8dadc 0.5px;
  position: absolute;
  width: 40rem;
  z-index: 1;
  right: 0%;
  min-height: 100vh;
  backdrop-filter: blur(5px);
  transition: 0.35s all ease-in;
  @include for-phone-only {
    width: 84%;
    max-height: 100vh;
    @include for-small-phone {
      max-height: 130vh;
    }
  }

  .MapsideHeader {
    display: flex;
    border-bottom: 1px solid black;
    height: 3rem;
    transition: all 0.6s ease-in;
    i {
      color: orange;
    }
    .headerelement {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      cursor: pointer;
    }
  }

  .container {
    padding-top: 1rem;
    width: 95%;
    margin: 0 auto;

    .LastReportedPageWrapper {
      i {
        cursor: pointer;
        span {
          font-size: 1.2rem;
          margin-left: 0.3rem;
          font-weight: 900;
        }
      }
      .inputAreaContainer {
        margin-top: 1.5rem;
        .inputArea {
          margin-top: 1rem;
          background-color: rgb(29, 53, 87, 0.05);
          width: fit-content;
          margin-bottom: 1rem;
          padding: 0.3rem;
          border-radius: 7px;

          input {
            border: none;
            padding: 0.5rem;
            background-color: transparent;
            margin-right: 0.3rem;
            &:focus {
              outline: none;
            }
          }
          button {
            border: none;
            -webkit-tap-highlight-color: transparent;
            i {
              cursor: pointer;
            }
          }
        }
      }
    }

    .more {
      color: #f95738;
      font-size: 0.9rem;
      font-style: italic;
      cursor: pointer;
    }

    .exclamation {
      font-weight: 700;
      i {
        color: orange;
      }
    }

    .overflowSmall {
      @include for-small-phone {
        display: none;
      }
    }

    .overflowBig {
      @include for-phone-only {
        display: none;
      }
      @include for-small-phone {
        display: none;
      }
    }

    a {
      font-weight: 900;
      color: #f95738;
    }

    .numberedlist {
      h4 {
        color: #1d3557;
        font-weight: 900;
      }
    }

    .moreinfo {
      margin-top: 0rem;
      color: #f95738;
      border-style: none;
      cursor: pointer;
    }
    .LastReportedContainer {
      max-height: 70vh;
      overflow-y: scroll;
      .LastReported {
        margin-bottom: 0.1rem;
        background-color: rgba(249, 87, 56, 0.04);
        color: #1d3557;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        .LastReportedDescription {
          margin-bottom: 0rem;
        }
      }
    }

    .PerPeople {
      background-color: #f95738;
      color: white;
      width: max-content;
      padding: 0.3rem 0.6rem 0.3rem 0.5rem;
    }

    h2,
    h3 {
      opacity: 1;
      transition: all 0.35s ease-in;
      margin-bottom: 0.2rem;
      margin-top: 0.2rem;

      &:first-child {
        margin-bottom: 0.3rem;
        margin-left: 0.2rem;
      }
    }
    p {
      opacity: 1;
      transition: all 0.13s ease-in;
    }

    .toggleInfo {
      display: flex;
      height: 5rem;
      width: 5rem;
      border-radius: 45px;
      background-color: white;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -4.4rem;
      top: 49vh;
      background-color: rgb(249, 87, 56, 0.7);
      cursor: pointer;

      .toggleArea {
        color: white;
      }
    }
  }
}

.passiveWrapper {
  width: 0rem;
  backdrop-filter: blur(0px);
  transition: all 0.35s ease-in;
  border-left: none;

  .MapsideHeader {
    opacity: 0;
    transition: all 0.4s ease-in;
  }
  .container {
    h2,
    h3 {
      opacity: 0;
      transition: all 0.35s ease-in;
    }
    p {
      opacity: 0;
      transition: all 0.13s ease-in;
    }
  }
}

.active {
  background-color: rgb(249, 87, 56, 0.7);
  color: white;
}

.hidden {
  display: none;
}
